* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 1600px;
  min-width: 800px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.entity,
.entity2 {
  height: 40px;
  width: 40px;
  margin-left: 40px;
  background-image: url("../img/meta.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.entity3 {
  height: 40px;
  width: 40px;
  background-image: url("../img/microsoft.png");
  background-size: contain;
}

.myname p {
  white-space: nowrap;
}

.azure {
    height: 40px;
  width: 40px;
  background-image: url("../img/azure.png");
  background-size: contain;
}

.openwebinar {
    height: 40px;
  width: 40px;
  background-image: url("../img/openwebinar.png");
  background-size: contain;
}

.ulpgc {
  height: 80px;
  width: 125px;
  margin-left: 40px;
  background-image: url("../img/ulpgc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.entity2 {
  margin-left: 36px;
}

.socialnetwork {
  display: flex;
  margin-left: 20px;
  margin-top: 50px;
}


.left {
  width: 25%;
  background-color: #00a0e5;
  display: flex;
  height: 1700px;
  flex-direction: column;
  align-items: center;
}

.chess {
  font-weight: normal;
  font-size: 16px;
}

.button {
  margin-top: 5%;
  border-radius: 5px;
  background-color: green; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.photo {
  margin-top: 15px;
  width: 120px;
  height: 140px;
  background-image: url("../img/fotomiacv.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.job {
  margin-top: 10%;
  text-align: center;
  height: 30px;
  width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
}

li {
  font-weight: normal;
  font-size: 20px;
}

.languagesandothers {
  margin-top: 20%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.languagesandothers li {
  font-weight: normal;
  font-size: 20px;
}

.right {
  width: 70%;
  height: 1700px;
  background-color: white;
}

.mynameandcontact {
  margin-top: 1%;
  margin-left: 4%;
  margin-right: 4%;
  display: flex;
  justify-content: space-between;
}

.myname {
  height: auto;
  width: 46%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 37px;
  font-weight: bold;
}

.contact {
  width: 46%;
  display: flex;
  justify-content: flex-end;
  height: auto;
}

.my_description {
  margin-left: 4%;
  width: 100%;
  height: auto;
  text-align: left justify;
  font-family: Century;
  font-weight: 18px;
  margin-top: 5%;
}

.link {
  height: 50px;
  width: 50px;
}

.iconlinkedin:hover,
.icongithub:hover {
  width: 45px;
  height: 45px;
}

.whoami {
  font-weight: bold;
  font-style: italic;
}

.my_description p {
  font-size: 20px;
}

.education,
.skills {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: 5%;
  text-align: center;
}

.skills {
  margin-top: 10%;
}

.line {
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 4%;
  height: auto;

  display: flex;
  font-family: century;
  font-size: 18px;
}

.date,
.dates {
  width: 10%;
  height: auto;
  white-space: nowrap;

}

.titles {
  margin-left: 15px;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  width: 86%;
  height: auto;
}

.tituloconinsignia {
  margin-left: 0px;
  text-align: left;
  font-weight: bold;
  font-style: italic;
  display: flex;
  width: 86%;
  height: 40px;
}

.meta {
  font-weight: normal;
}

.tituloconinsignia span {
  font-weight: normal;
}

.titles span {
  font-weight: normal;
}

.titles li {
  font-weight: normal;
  margin-left: 40px;
}

.frontend {
  margin-top: 5%;
  margin-left: 4%;
  margin-right: 4%;
  height: auto;
  display: flex;
}

.desktop {
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 4%;
  height: auto;
  display: flex;
}

.jp {
  display: flex;
  width: 40%;
  height: 82px;
}

.bd {
  width: 60%;
  display: flex;
  height: 60px;
  justify-content: flex-end;
}

.lnd {
  display: flex;
  width: 40%;
  height: 60px;
}

.framework {
  width: 60%;
  display: flex;
  margin-right: 70px;
  margin-left: 10px;
  height: 60px;
  justify-content: flex-end;
}

.bd {
  width: 60%;
  display: flex;
  height: 60px;
  justify-content: flex-end;
}

.html:hover,
.css:hover,
.js:hover,
.bootstrap:hover,
.react:hover,
.redux:hover,
.jquery:hover {
  width: 60px;
  height: 60px;
}

.html {
  background-image: url(../img/html.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 50px;
  width: 50px;
  height: 50px;
}

.java {
  background-image: url(../img/java.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 35px;
  width: 65px;
  height: 65px;
}

.java:hover {
  width: 82px;
  height: 82px;
}

.csharp {
  background-image: url(../img/csharp.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3%;
  margin-left: 3%;
  width: 50px;
  height: 55px;
}

.csharp:hover {
  height: 65px;
  width: 60px;
}

.python {
  background-image: url(../img/python2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 3%;
  width: 55px;
  height: 55px;
}

.python:hover {
  width: 65px;
  height: 65px;
}

.css {
  background-image: url(../img/css.jpeg);
  background-position: center;
  margin-left: 2%;
  margin-right: 2%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.js {
  background-image: url(../img/js.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.bootstrap {
  background-image: url(../img/bootstrap.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.spring {
  background-image: url(../img/spring-boot.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100px;
  height: 50px;
}

.spring:hover {
  width: 150px;
  height: 80px;
}

.react {
  background-image: url(../img/react.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 2%;
  width: 50px;
  height: 50px;
}

.redux {
  background-image: url(../img/redux.png);
  background-position: center;
  margin-left: 2%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.jquery {
  background-image: url(../img/net.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 2%;
  width: 50px;
  height: 50px;
  margin-right: 2%;
}

.mysql {
  background-image: url(../img/mysql.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.mysql:hover {
  width: 60px;
  height: 60px;
}

.mongodb:hover {
  width: 80px;
  height: 80px;
}

li {
  margin-left: 20px;
}

.mongodb {
  background-image: url(../img/mongodb.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
  margin-right: 240px;
}

p, li {
  line-height: 1.5; /* Puedes ajustar este valor a 1.8 o 2 si lo prefieres más amplio */
}
